body{
	min-height: 1000;
	font-family: "microsoft yahei";
}
.header-wrapper{
	min-width: 1000px;
}

/* register 头部最顶层*/
.register-wrapper{
	width: 100%;
	background-color: #dcdcdc;
	margin-bottom: 30px;
}
.register{
	width: 1000px;
	height: 30px;
	margin: 0 auto;
}
.register-wrapper{
	line-height: 30px;
}
.register h1{
	display: inline-block;
	font-size: 12px;
	color: #898989;
}
.register span,
.collection span{
	display: inline-block;
}
/* S 导入小图标 */
.icons{
	display: inline-block;
	background: url(../images/icons.png) no-repeat center center;
}
.icons-home{
	width: 14px;
	height: 12px;
	background-position: 0 0;
	margin-right: 5px;
}
.icons-sina{
	width: 25px;
	height: 22px;
	background-position: -30px 0;
}
.icons-qq{
	width: 25px;
	height: 22px;
	background-position: -60px 0;
}
.icons-coll{
	width: 10px;
	height: 22px;
	background-position: -90px 0;
}
.icons-time{
	position: relative;
	top: -25px;
	left: 240px;
	width: 20px;
	height: 20px;
	background-position: -120px 0;
}
/* E 导入小图标 */

/*  头部顶层的链接  */
.register-links-wrapper{
	display: inline-block;
	float: right;
}
.register-links li{
	display: inline-block;
	margin-right: 5px;
}
.register-links li a{
	display: inline-block;
	font-size: 12px;
	color: #34bf82;
	margin-left: 5px;
}
.register-links li:last-child:before{
	content :"|";
	color: #34bf82;
}

/*  S 查询框 及其收藏夹 */
.search-wrapper{
	width: 1000px;
	height: 70px;
	margin: 0 auto;
}
.search{
	display: inline-block;
	margin-left: 223px;
}
.search-input{
	width: 445px;
	height: 32px;
	border: 2px solid #34bf82;
	float: left;
}
.search a{
	display: inline-block;
	width: 83px;
	height: 38px;
	background-color: #34bf82;
	color: #fff;
	text-align: center;
	line-height: 38px;
	font-size: 16px;
}
.collection{
	display: inline-block;
	float: right;
	width: 130px;
	height: 36px;
	border: 1px solid #ddd;
	background-color: #eee;
	line-height: 36px;
	padding: 10px 0 0 10px;
}
.collection span{
	padding-left: 40px;
}
/*  E 查询框 及其收藏夹 */

/*  S 导航栏  */
.navigation{
	width: 100%;
	height: 42px;
	background-color: #34bf82;
}
.navigate{
	width: 1220px;
	height: inherit;
	margin:0 auto;
	margin-left: 120px;
}
.navigate li{
	float: left;
	list-style: none;
	font-size: 16px;
}
.navigate li a{
	display: inline-block;
	width: 100px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	color: #fff;
}
.navigate li a:hover{
	background-color: #28b577;
}
/*  S 导航栏  */

/*   S    轮播图   */ 
.slider{
	position: relative;
	width: 100%;
	height: 460px;
	overflow: hidden;
	margin-bottom: 58px;
}
.slider img{
	display: block;
	width: 100%;
}

/* S 轮播图上的条件查询框 */
.info-search{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 723px;
	height: 320px;
	z-index: 50px;
}
.info-search .v-tabs{
	float: left;
	width: 90px;
	height: inherit;
	background-color: #34bf82;
}
.v-tabs li{
	width: 100%;
	height: 53px;
	line-height: 53px;
	text-align: center;
}
.v-tabs li a{
	display: inline-block;
	width: 95%;
	height: 95%;
	font-weight: bold;
	color: #fff;
	margin-left: 5px;
}
.v-tabs .v-visited{  /*正在查询的块*/
	color: #34bf82;
	background-color: #fff;
}
.v-search{
	float: right;
	width: 633px;
	height: inherit;
	background-color: rgba(255,255,255,.9);
}
.comment-search, /*普通条件查询和时间查询*/
.time-search{
	float: left;
	box-sizing:border-box;
	width: 50%;
	padding: 50px 0 0 30px;
}
.triangle{  /*小三角形*/
	position: relative;
	top: 0;
	left: -23px;
	display: inline-block;
	width: 12px;
	height: 7px;
	background:url(../images/triangle.png) no-repeat;
}
.time-search{
	float: right;
}
.v-search ul li{
	margin-bottom: 30px;
}
.v-search ul li label{
	font-size: 16px;
	font-weight: bold;
}
.special-spacing{
	letter-spacing: 6px;
}
.v-search ul li input{
	width: 190px;
	height: 28px;
	font-size: 14px;
}
/*  E 轮播图上的条件查询框 */
/*   E    轮播图   */ 


/*   S    主题内容   */

.show{  /*每一哥主题块的外围样式设置*/
	width: 1000px;
	height: 602px;
	margin: 0 auto;
	margin-bottom: 58px;
}
.show h2.title{  /*每个主题块的主题*/
	font-size: 22px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 27px;
}
.main a{
	display: inline-block;
	overflow: hidden;
}
.show a{
	width: 100%;
	height: inherit;
}

.imgs-left, /*左边部分*/
.imgs-right{  /*右边部分*/
	display: inline-block;
}
.imgs-left,
.show-big{  /*发现好游记 图片较大部分*/
	width: 63%;
}
.imgs-right,
.show-small{ /*发现好游记 图片较大小部分*/
	width: 35.4%;
}
.imgs-left,
.show-image-left{
	float: left;
}
.imgs-right,
.show-image-right{
	float: right;
}
.show-special, /*和其他不同的图片，基本是每一块的第一张*/
.show-next, /*每一块第一行的第二章图片*/
.imgs-top,
.imgs-bottom{
	width: 100%;
	height: 320px;
	margin-bottom: 16px;
}
.show-next,
.show-last{ /*每一块的右下角图片*/
	width: 100%;
	height: 270px;
}
.show-moutain{   /*两列排的图片设置相同的宽*/
	width: 49%;
	height:215px;
}
.show-last{
	width: 100%;
	height: 268px;
}

.tips{  /*为发现好游记特定设置的，宽为100%*/
	width: 100%;
	height: 269px;
}
.imgs-longger{ /*图片较长的*/
	width: 67%;
}
.imgs-smaller{ /*图片较小的*/
	width: 32%
}
.show-big,
.show-small,
.imgs-half{ /*各占一半大小的图片*/
	height: 266px;
}
.imgs-third{  /*旅行目的地中右边 三行排列*/
	width: 100%;
	height: 173px;
}

/*  S  历史记录和猜你喜欢  */
.history{
	width: 1000px;
	height: 270px;
	margin: 0 auto;
}
.history .tabs{  /*上面的选项卡：历史记录 猜你喜欢*/
	height: 28px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 25px;
}
.history .tabs li,
.history-links-wrapper li{
	float: left;
	margin-right: 20px;
}
.history .tabs li a{
	font-size: 16px;
	color: #000;
}
.history .tabs li .visited{  /*选项卡中选中部分*/
	color: #28b577;
}
.history-links-wrapper li{
	margin-right: 13px;
}
.history-links-wrapper{
	clear: both;
}
.history-links{  /*历史记录图片 变化的东西 应该用图片导入的，不该用背景图*/
	display: inline-block;
	width: 155px;
	height: 155px;
	background: url(../images/history.png) no-repeat;
	margin-bottom: 10px;
}
.links-game{
	background-position: 0 0;
}
.links-flower{
	background-position: -169px 0;
}
.links-park{
	background-position: -338px 0;
}
.links-sport{
	background-position: -507px 0;
}
.links-stadium{
	background-position: -676px 0;
}
.links-rabit{
	background-position: -845px 0;
}
/*  S  历史记录和猜你喜欢  */

/*   S  图片上的 文字处理  */
.show li{
	position: relative;
}
.describe{  /*简介或者描述*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	background-color: rgba(0,0,0,.3);
}
.show article{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 284px;
	height: 114px;
	transform: translate(-50%, -50%);
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	opacity: .8;
}
.show article .summary{
	font-size: 20px;
}
.show article a{
	color: #fff;
}
.show article a:hover{
	text-decoration: underline;
}
.imgs-title{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	line-height: 40px;
	color: #fff;
	text-align: center;
	opacity: .8;
	box-shadow: inset 0 40px rgba(0,0,0,.2);
}

.info{  /*简单的城市信息*/
	width: 155px;
	height: 60px;
}
.info article{
	font-size: 11.6px;
	line-height: 16px;
	margin-left: 10px;
}
.info a{
	color: #ff6000;
	font-size: 14.9px;
}
/*   E   文字处理  */

/*   E    主题内容   */



/*   S    页脚   */  
.footer-wrapper{
	clear: both;
	width: 100%;
	margin-top: 35px;
	background-color: #2f2f2f;
	border-top: 2px solid #9e8841;
	display: inline-block;
}
.footer-menu,
.coporation{
	width: 1170px;
	margin: 0 auto;
	clear: both;
}
.footer-menu dl{
	float: left;
	margin-bottom: 68px;
	margin-left: 64px;
}
.footer-menu dl a{
	color: #6d6b6b;
}
.footer-menu dl a:hover{
	text-decoration: underline;
}
.footer-list dt{
	font-size:14px;
	color: #a5a5a5;
	margin-top: 65px;
	margin-bottom: 40px;
}
.footer-list dt a{
	font-size: 16px;
	color: #fff;
}
.footer-list dd{
	font-size: 12px;
	line-height: 9px;
	margin-top: 24px;
}

.qrcode{ /*二维码*/
	width: 190px;
	height: 180px;
	float: left;
	margin-top: 49px;
	margin-left: 230px;
}
.qrcode p{
	font-size: 12px;
	color: #6d6b6b;
}

.coporation{ /*合作伙伴*/
	clear: both;
	height: 70px;
	border-top: 1px solid #6d6b6b; 
}
.coporation p{
	position: relative;
	top: -10px;
	left: 50%;
	transform:translate(-50%, 0);
	width: 100px;
	height: 20px;
	background-color: #2f2f2f;
	color: #fff;
	text-align: center;
	z-index: 10;
}
.friendlinks li{  /*友情链接*/
	width: 115px;
	height: 34px;
	float: left;
	margin-right: 16.8px;
}
.friendlinks li:last-child,
.history-links-wrapper li:last-child{
	margin-right: 0;
}

/*  S 友情链接 */
.links{
	display: inline-block;
	width: 120px;
	height: 32px;
	background: url(../images/friendlinks.png) no-repeat;
}
.links-yidao{
	background-position: 0 0;
}
.links-zima{
	background-position: -132px 0;
}
.links-quna{
	background-position: -264px 0;
}
.links-running{
	background-position: -396px 0;
}
.links-xmic{
	background-position: -528px 0;
}
.links-gzg{
	background-position: -660px 0;
}
.links-dz{
	background-position: -792px 0;
}
.links-hs{
	background-position: -924px 0;
}
.links-ltgl{
	background-position: -1056px 0;
}
/*  S 友情链接 */

.bottom{
	padding-top: 20px;
	background-color: #282828;
}
.address{
	clear: both;
	width: 600;
	height: 20px;
	font-size: 12px;	
	line-height: 20px;
	text-align: center;
	letter-spacing: 2px;
	color: #aaa;
	margin: 0 auto;
	padding-bottom: 20px;
}
.last-links{
	text-align: center;
	width: 350px;
	height: 20px;
	margin: 0 auto;
}
.last-links ul{
	display: inline-block;
	width: 150px;
	height: inherit;
	margin-right: 20px;
}
.last-links ul:last-child{
	margin-right: 0;
}
.last-links ul li{
	float: left;
	margin-left: 15px;
	font-size: 12px;
}
.last-links ul li a{
	font-size: 12px;
	color: #aaa;
	padding-left: 5px;
}
.rule:before{
	content: "|";
	color: #aaa;
}

/*   E    页脚   */